/*

font-family: 'Montserrat', sans-serif;
font-family: 'Uchen', serif;
font-family: 'Zen Loop', cursive;

font-family: 'Nunito', sans-serif;


*/
body
{
    background-color: #EDDBC0;
}
h3
{
  text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}
.parts
{
   
    font-family: 'Zen Loop', cursive; 
}
.icon
{
    width: 30px;
    height: 24px;
}

.tut {
    width: 250px;
    opacity: 0.9; 
    padding-bottom: 10px;
  }
.tut:hover
{
    opacity: 1;
}

  .no
  {
      text-decoration: none;
  }
  .khikhi {
    color: #FFC107;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
.khikhi:hover
{
  color: violet;
}
.bot
{
  text-align: center;
	background-color: #292826;
	padding: 50px 0 20px;
}
.cent
{
	text-align: center;
}
.copy
{ 
	padding: 20px 0;
	color: #f9d342;
	font-size: 0.75rem;
}
.arrange
{
    display:inline-table;
}
.heading
{
padding-top: 60px;
text-align: center;
font-family: 'Uchen', serif;
text-decoration: underline;
}
.nobullet
{
    list-style-type:none;
}
.under
{
    text-decoration: underline;
}


.cheff
{
    width: 400px;
   position: absolute;
   top: 250px;
   left: 1120px;
   
}
.ponnu
{
    width: 400px;
    position:absolute;
    top: 90px;
    left: 90px;
}
.tstyle1
{
font-family: 'Nunito', sans-serif;
}
.jugad
{
    display: inline-block; text-align: left;
}
.combo
{
  background-color: #292826;
}
.card 
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    color: #d0b439;
    position: relative;
    width: 700px;
    margin: auto;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }
.card strong
{
    color:#fff ;
}
h6
{
    margin: 6px ;
}
.tut 
{   padding-top:6px;
    margin: auto;
    width: 500px;
    opacity: 0.8;
    border-radius: 5px 5px 0 0;
  
}
.tut:hover
{
    opacity: 1;
}
@media only screen and (max-width:768px)
{
.ponnu
{
    display: none;
}
.cheff
{
   display: none;
}

.card 
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 7px; /* 5px rounded corners */
    color: #d0b439;
    position: relative;
    width: 80%;
    margin: 3px auto;
   
}
.card:hover 
    {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    }

    .tut 
    {   
        width: 250px;
        padding-bottom: 4px;
        padding-top:4px;
        margin: auto;
        width: 70%;
        opacity: 1;
        border-radius: 5px 5px 0 0;
    }
 .heading
 {
     text-align: left;
     padding-left: 4px;
     padding-top: 10px;
     color:#E35407;
     text-decoration: none;
     font-size: 2 rem;
     display:inline-block;
     left: 4px;
     background-color: #fff;
 }
 .resp1
 {
    text-align: left;
    padding-left: 4px;
    padding-top: 10px;
    color:#E35407;
    text-decoration: none;
    font-size: 2 rem;
    display:inline-block;
    left: 4px;
    background-color: #fff;
 }
 .resp2
 {
     text-align: left;
     padding-top: 5px;
     padding-left: 3px;
 }
.resp3
{
    display: flex;
    text-decoration: none;
    font-size: 2rem;
    color: #963500;
}
.resp4
{
    text-align: left;
    text-decoration: none;
    font-size: 2rem;
    color: #963500;
    padding-left: 4px;
}
.resp5
{
    text-align: left;
    padding-right: 170px;
    list-style-type: circle;
}
.resp6
{
    text-align: left;
    padding-right: 100px;
    list-style-type: circle;
}
.ohk
{
    display:none ;
}

}
