
body{
   background-color: #DBC8AC;
 }
h1
{
   font-family: 'Viaoda Libre', cursive;
}

.adjus
 {
    height: 60vh;
 }


.box{
   width: 320px;
   margin: 100px auto;
   background: #fff;
   border-radius: 7px;
   box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.box .heading{
   background: #334443;
   border-radius: 7px 7px 0px 0px;
   padding: 10px;
   color: #ffffff;
   text-align: center;
   font-family: "Rubik";
}

.faqs{
   padding: 0px 20px 20px;
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

details{
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: 'Viaoda Libre', cursive;
   font-size: 14px;
   letter-spacing: 1px;
   cursor: pointer;
}

details summary{
   outline: none;
}
.allah
{
   padding-left: 100px;
}

.khikhi {
    color: #FFC107;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
.khikhi:hover
{
  color: #8F00FF;
}
.bot
{
  text-align: center;
	background-color: #292826;
	padding: 50px 0 20px;
}
.cent
{
	text-align: center;
}
.copy
{ 
	padding: 20px 0;
	color:#f9d342 ;
	font-size: 0.75rem;
}

.thoda
{
   padding-right: 5px;
}



.image {
   width: 250px;
   float: left;
   margin: 20px;
 }
 body {
   font-size: small;
   line-height: 1.4;
 }
 p {
   margin: 0;
 }
 
 .performance-facts {
   border: 1px solid black;
   margin: 20px;
   float: left;
   width: 280px;
   padding: 0.5rem;
   
   
 }
.performance-facts table
{
  border-collapse: collaps;
}
 .performance-facts:hover{
  -webkit-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
  -moz-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
  box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
  transition: 1s ease;
  }
 .performance-facts__title {
   font-weight: bold;
   font-size: 2rem;
   margin: 0 0 0.25rem 0;
 }
 .performance-facts__header {
   border-bottom: 10px solid black;
   padding: 0 0 0.25rem 0;
   margin: 0 0 0.5rem 0;
    
 }
 .performance-facts__header,p{
      margin: 0;
     }
 .performance-facts__table {
   width: 100%;
   thead tr {
     th,
     td {
       border: 0;
     }
   }
   th,
   td {
     font-weight: normal;
     text-align: left;
     padding: 0.25rem 0;
     border-top: 1px solid black;
     white-space: nowrap;
   }
   td {
     &:last-child {
       text-align: right;
     }
   }
   .blank-cell {
     width: 1rem;
     border-top: 0;
   }
   .thick-row {
     th,
     td {
       border-top-width: 5px;
     }
   }
 }
 .small-info {
   font-size: 0.7rem;
 }
 
 .performance-facts__table--small {
   @extend .performance-facts__table;
   border-bottom: 1px solid #999;
   margin: 0 0 0.5rem 0;
   thead {
     tr {
       border-bottom: 1px solid black;
     }
   }
   td {
     &:last-child {
       text-align: left;
     }
   }
   th,
   td {
     border: 0;
     padding: 0;
   }
 }
 
 .performance-facts__table--grid {
   @extend .performance-facts__table;
   margin: 0 0 0.5rem 0;
   td {
     &:last-child {
       text-align: left;
       &::before {
         content: "•";
         font-weight: bold;
         margin: 0 0.25rem 0 0;
       }
     }
   }
 }
 
 .text-center {
   text-align: center;
 }
 .thick-end {
   border-bottom: 10px solid black;
 }
 .thin-end {
   border-bottom: 1px solid black;
 }
 .toon
 {
  padding:20px 0 0 350px ;
 }
 
 .pd50
 {
    text-align: center;
 }
.padt5
{
   padding-top: 100px;
}
.hi
{
  padding-left: 50px;
}
.combo
{
  background-color: #292826;
}
